@import "src/components/ui/__variables";

// .container {
//     width: 13.5rem;
//     height: 30rem;
//     background-color: green;
//     padding: 1.5rem;
//     border:1px solid $secondary-color;
// }

.webpage-to-audio {
  width: 13.5rem;
  border: 1px solid $secondary-color;

  height: 80vh;
  //   background-color: red;
  //   border: 1px solid white;

  //   padding: 1.5rem;

  color: white !important;

  text-align: center;

  h4 {
    color: white;

    font-weight: bold;

    font-size: 20px;

    text-transform: uppercase;

    margin-top: 0;
  }

  section {
    margin-top: 3rem;

    .custom-button {
      border-radius: 100% !important;

      background-color: white;

      padding: 0.5rem;

      width: fit-content !important;

      height: fit-content !important;

      margin-top: 1rem;

      margin-left: auto;

      margin-right: auto;
    }

    button {
      border-radius: 100% !important;

      height: 10rem !important;

      width: 10rem !important;

      font-size: 18px;

      font-weight: bold !important;

      &:hover {
        background-color: $secondary-color !important;

        color: white !important;
      }

      &.invert {
        background-color: $secondary-color !important;

        color: white !important;
      }
    }

    .custom-select {
      width: 100% !important;

      margin-top: 2rem;

      label {
        color: white !important;
        font-weight: bold;
      }

      select {
        width: 100% !important;

        background-color: $background-color;

        color: white;

        height: 3rem !important;
      }
    }

    p {
      color: $cancel-color;

      font-size: 14px;

      font-weight: bold;
    }
  }
}
